body {
    font-family: "Marcellus", sans-serif;

}
.header-section-break{
    width: 40px;
    height: 3px;
    background-color: #d03e3e;
    margin-top: 20px;
}

.section-footer-break{
    width: 40px;
    height: 3px;
    background-color: #fafafa;
    margin-top: 20px;
}


/*Background image---------------------------------------------*/
.container-header {
    height: 100vh;
    /*code taken from https://css-tricks.com/ */
     background: url('../img/band_project_stage_3.jpg') no-repeat center center fixed; /*image from http://www.petercousens.com/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center; 

}

/*Header-------------------------------------------*/
.jumbotron-styles {
    margin-top:50px;
    background: rgba(0, 0, 0, 0);
    
}
.jumbotron-styles p{
    padding-top: 50px;
    font-size: 18px;
    color: #fafafa;
    letter-spacing: 3px;
}
.jumbotron-styles h1{
    font-size: 100px;
    color: #fafafa;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.jumbotron-styles h4{
    color: #fafafa;
    letter-spacing: 3px;
}
.stars-styles{
    color: #fafafa;
    font-size: 30px;
    margin: 20px 0 0 0;
    padding-top: 20px;
}
.stars-styles li{
    padding: 20px 30px 30px 0;    
}

.star-style-dash{
    font-size: 50px;
    color: #fafafa;
    list-style-type: none;
    
}


/*navbar---------------------------------------*/


#nav li{
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid;
    border-right-color: #ffffff;
    
}
#nav li:last-child{
    border-right:none;
}

#nav li a{
    text-decoration: none;
    color: #ffffff;
}

#nav li a span{
    font-family: "Marcellus", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
}

#nav li a:hover{
    text-decoration: none;
    color: #d03e3e;
}

/*section-------------------------- home-------------*/

.blockquote-styles blockquote{
    border-left-color: #ffffff;
    margin-bottom: 30px;
    
}
.blockquote-styles blockquote p{
    letter-spacing: .75px;
}


.quote-footer-styles{
    color: #d03e3e;
}

.profile-pics{
    margin-top: 20px;
    margin-bottom: 40px;
}


/*section-------------------------- Gallery-------------*/

.container-section-gallery{
    height: 100%;
    padding-top: 20px;
}

.section-styles-gallery a{
    border:none;
}
.section-styles-gallery a img:hover{
    border: 2px solid;
    border-color: #d03e3e;
    border-radius: 3px;
}


/*footer---------------------------------------*/

.container-footer{
    background-color: #d03e3e;
}
.container-footer h3{
    color: #fafafa;
    font-size: 30px;
    font-weight: bold;
}
.social-links{
   padding-bottom: 20px;
}

.social-links li{
    margin-top: 15px;
}

.social-links li a{
    width: 40px;
    height: 30px;
    margin: 15px;
    font-size: 30px;
    padding: 15px;
    color: #fafafa;
   
}

.social-links li a:hover{
    border: 1px solid;
    border-color: #ea7373;
    background-color: #ea7373;
    border-radius: 50%;
}