body {
    font-family: "Marcellus", sans-serif;

}

.header-section-break {
    width: 40px;
    height: 3px;
    background-color: #d03e3e;
    margin-top: 20px;
}

.section-footer-break {
    width: 40px;
    height: 3px;
    background-color: #fafafa;
    margin-top: 20px;
}


/*Background image---------------------------------------------*/

.container-header {
    height: 100vh;
    /*code taken from https://css-tricks.com/ */
    background: url('./img/band_project_stage_3.jpg') no-repeat center center fixed;
    /*image from http://www.petercousens.com/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;

}

.container-header-gallery {
    height: 100vh;
    /*code taken from https://css-tricks.com/ */
    background: url('./img/gallery-jumbotron-image.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;

}

.container-header-events {
    height: 100vh;
    /*code taken from https://css-tricks.com/ */
    background: url('./img/events-jumbotron-image.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;

}

.container-header-contact {
    height: 100vh;
    /*code taken from https://css-tricks.com/ */
    background: url('./img/contact-jumbotron-image.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
}

/*Header--------------------------------index-----------*/

.jumbotron-styles-index {
    margin-top: -50px;
    background: rgba(0, 0, 0, 0);

}



.jumbotron-styles-index p {
    padding-top: 50px;
    font-size: 18px;
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 900;
}

.jumbotron-styles-index h1 {
    font-size: 77px;
    color: #fafafa;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;

}

.jumbotron-styles-index h4 {
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 900;
}

/*Header-------------------------------------------*/

.jumbotron-styles {
    margin-top: 22px;
    background: rgba(0, 0, 0, 0.4);

}



.jumbotron-styles p {
    padding-top: 50px;
    font-size: 18px;
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 900;
}

.jumbotron-styles h1 {
    font-size: 77px;
    color: #fafafa;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;

}

.jumbotron-styles h4 {
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 900;
}

.stars-styles {
    color: #fafafa;
    font-size: 30px;
    margin: 20px 0 0 0;
    padding-top: 20px;
    padding-left: 39px
}

.stars-styles li {
    padding: 20px 30px 30px 0;
}

.star-style-dash {
    font-size: 50px;
    color: #fafafa;
    list-style-type: none;

}




/*navbar---------------------------Desktop------------*/

#nav li {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #fff;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    margin-right: -4px;
    -o-transition: all .2s ease-in-out;
}

#nav li:last-child {
    border-right: none;
}

#nav li:hover {
    background-color: #d03e3e;
    padding: 0 60px;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

#nav li a span {
    font-family: "Marcellus", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
}



/*#nav li a:hover {*/
/*    text-decoration: none;*/
/*    color: #d03e3e;*/
/*}*/

/*navbar--------------------------Mobile-------------*/

.navbar-mobile {
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0)
}

.navbar-mobile button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fafafa;
    font-size: 26px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.btn-primary:focus {
    color: #fafafa;
    background-color: rgba(208, 62, 62, .9);
    border-color: #d03e3e;
}

.btn-primary:active {
    color: #fafafa;
    background-color: rgba(208, 62, 62, .9);
    border-color: #d03e3e;
    border-radius: 50%
}

.open>.dropdown-toggle.btn-primary:focus {
    color: #fafafa;
    background-color: rgba(208, 62, 62, .9);
    border-color: #d03e3e;
    border-radius: 50%;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    background-color: rgba(208, 62, 62, .9);

}

.dropdown-menu li a {
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 800;

}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #d03e3e;
    text-decoration: none;
    background-color: #f5f5f5;
}

.caret {
    display: none;
}

.dropdown-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #d03e3e;
}


/*section-------------------------- home-------------*/

.intro-video-container {}

.intro-video-container iframe {
    border: 4px solid #d03e3e;
}

.blockquote-styles blockquote {
    border-left-color: #ffffff;
    margin-bottom: 30px;

}

.blockquote-styles blockquote p {
    letter-spacing: .7px;
}


.quote-footer-styles {
    color: #d03e3e;
}

.profile-pics {
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-title-styles h3 {
    color: #d03e3e;
    margin: 20px;
}


/*section-------------------------- Gallery-------------*/

.container-section-gallery {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-styles-gallery a {
    border: none;

}

.section-styles-gallery .new-ablum-styles-header {
    font-size: 14px;
    font-weight: 900;
    color: #fafafa;
}



.section-styles-gallery .album-cover-styles a img {
    border-radius: 10px;

}

.hvr-grow {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.section-styles-gallery .new-ablum-styles a {
    text-decoration: none;
    font-weight: 600;
    color: #fafafa;
    letter-spacing: .5px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


.section-styles-gallery .new-ablum-styles a:hover {
    color: #fafafa;
    background-color: rgba(255, 0, 30, .5);
    padding: 10px;
    border-radius: 25px;
}

.section-styles-gallery .new-ablum-styles h5 {
    margin: 30px;
}

.section-styles-gallery .new-album-bg-img {
    background: url('./img/rollingStonesImages/new-album-2.jpg') no-repeat center center;
    /*image from http://www.petercousens.com/ */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;


}

.section-styles-gallery .band-photos-bg-img {
    background: url('./img/rollingStonesImages/collage.jpg') no-repeat center center;
    /*image from http://www.petercousens.com/ */
    background-size: cover;
    height: 1000px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;
}

/*section-------------------------- Events-------------*/

.container-section-events {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.events-info-img-1 {
    background: url('./img/events-info-img-1.jpg') no-repeat center center;
    /*image from http://www.thedjservice.com/blog/wedding-dj-vs-wedding-band// */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px
}

.events-info-img-2 {
    background: url('./img/events-info-img-2.jpg') no-repeat center center;
    /*image from https://film.wp.pl/firmowa-gwiazdka-biurowe-przeboje-recenzja-6067359094149761a */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px
}

.events-form-image {
    background: url('./img/events-form-image.jpg') no-repeat center center;
    /*image from http://www.petercousens.com/ */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;

}

.events-form-styles {
    margin-top: 10px;
    padding-right: 30px;
}

.events-form-styles input {
    width: 66%;
    background-color: rgba(250, 250, 250, 0.7);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #ffffff;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 55px;
    border-radius: 5px
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.events-form-styles button {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fafafa;
    background-color: #d03e3e;
    border-color: #d03e3e;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.events-form-styles button:hover {
    color: #d03e3e;
    background-color: #fafafa;
    border-color: #fafafa;
}

.events-form-styles input:last-child {
    margin-left: -4px;
    border-bottom: none;

}

.events-form-styles input::placeholder {
    color: #333;
    padding-bottom: -10px;
    font-size: 18px;

}

.events-form-container {
    height: 100%;
    margin: 0;
}

.events-form-detail-styles-1 {
    color: #fafafa;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    border-radius: 9px;
}

.events-form-detail-styles-2 {
    color: #fafafa;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    border-radius: 9px;
}


.events-form-detail-styles-1 h3 {
    padding: 10px;
    margin-top: 200px;
}

.events-form-detail-styles-1 h4 {
    padding: 10px;
}

.events-form-detail-styles-2 h3 {
    padding: 10px;
    margin-top: 200px;
}

.events-form-detail-style-2 h4 {
    padding: 10px;
}



.events-form-detail-styles {
    color: #fafafa;
    border-right: solid 4px #d03e3e;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    width: 33.3333%;
    border-radius: 9px;

}

.events-form-detail-styles h3 {
    padding: 10px;
    margin-top: 200px;
}

.events-form-detail-styles h4 {
    padding: 10px;
}

/*section-------------------------- contact-------------*/

.container-section-contact {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-info-img-1 {
    background: url('./img/contact-info-img-1.png') no-repeat center center;
    /*image from http://www.thedjservice.com/blog/wedding-dj-vs-wedding-band// */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px
}

.contact-form-image {
    background: url('./img/contact-form-image.jpg') no-repeat center center;
    /*image from http://www.petercousens.com/ */
    background-size: cover;
    height: 600px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;

}

.contact-form-styles {
    margin-top: 10px;
    padding-right: 30px;
}

.contact-form-styles input {
    width: 66%;
    background-color: rgba(255, 255, 255, 0.7);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #ffffff;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 35px;
    border-radius: 5px;
}



.contact-form-styles .tickbox {
    margin: 0;
}

.contact-form-styles label {}

.contact-form-styles textarea {
    width: 66%;
    background-color: rgba(255, 255, 255, 0.7);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #ffffff;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 50px;
    border-radius: 5px;
    resize: none;
}

.checkbox-container {
    width: 66%;
    background-color: rgba(255, 255, 255, 0.7);
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #ffffff;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-top: 55px;
    border-radius: 5px;
    margin: auto;
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.contact-form-styles button {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fafafa;
    background-color: #d03e3e;
    border-color: #d03e3e;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.contact-form-styles button:hover {
    color: #d03e3e;
    background-color: #fafafa;
    border-color: #fafafa;
}



.contact-form-styles input::placeholder {
    color: #333;
    padding-bottom: -10px;
    font-size: 18px;

}

.contact-form-styles textarea::placeholder {
    color: #333;
    padding-bottom: -10px;
    font-size: 18px;

}

.contact-form-container {
    height: 100%;
    margin: 0;
}

.contact-form-detail-styles-1 {
    color: #fafafa;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    border-radius: 9px;
}


.contact-form-detail-styles-1 h3 {
    padding: 10px;
    margin-top: 200px;
}

.contact-form-detail-styles-1 h4 {
    padding: 10px;
}

.contact-form-detail-styles-2 h3 {
    padding: 10px;
    margin-top: 200px;
}

.contact-form-detail-style-2 h4 {
    padding: 10px;
}



.contact-form-detail-styles {
    color: #fafafa;
    border-right: solid 4px #d03e3e;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    width: 33.3333%;
    border-radius: 9px;

}

.contact-form-detail-styles h3 {
    padding: 10px;
    margin-top: 100px;
}

.contact-form-detail-styles h4 {
    padding: 10px;
}


/*footer---------------------------------------*/

.container-footer {
    background-color: #d03e3e;
}

.container-footer h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: bold;
}

.social-links {
    padding-bottom: 20px;
}

.social-links li {
    margin-right: 13px;
    margin-left: 13px;
    padding: 13px;
}

.social-links li a {
    font-size: 25px;
    color: #fafafa;
    background-color: #d03e3e;
    padding: 6px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

.social-links li a i.fa {
    width: 25px;

}

.social-links li a:hover {
    border-color: #ea7373;
    background-color: #ea7373;

}

/*-------------media queries*/
@media (min-width:768px) {
    .jumbotron-styles-index {
        margin-top: 40px;
    }
    .jumbotron-styles {
        margin-top: 50px;
    }

    .jumbotron-styles h1 {
        font-size: 100px;
    }

    .events-form-detail-styles-1 {
        color: #fafafa;
        border-right: solid 4px #d03e3e;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        width: 33.3333%;
        border-radius: 9px;
    }

    .events-form-detail-styles-2 {
        color: #fafafa;
        border-right: solid 4px #d03e3e;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        width: 33.3333%;
        border-radius: 9px;
    }

    .contact-form-detail-styles-1 {
        color: #fafafa;
        border-right: solid 4px #d03e3e;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        width: 33.3333%;
        border-radius: 9px;
    }
}

@media (min-width:992px) {
    
    .intro-video-container {
        height: 400px;
    }

    .intro-video-container iframe {
        height: 100%;
        width: 50%;
    }
    
    .section-styles-gallery .new-ablum-styles a {
        text-decoration: none;
        font-weight: 600;
        color: #ff001e;
        letter-spacing: .5px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    
}

@media (min-width: 1024px) {

    .section-styles-gallery .new-ablum-styles {
        padding-top: 10px;
    }
    .contact-form-styles input {
        width: 66%;
        background-color: rgba(255, 255, 255, 0.7);
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: 2px solid #ffffff;
        padding-top: 2px;
        padding-bottom: 0px;
        margin-top: 40px;
        border-radius: 5px;
    }
}
